.filter {
  &-sidebar {
    $sidebar-width: 240px;
    $sidebar-height: 36px;
    $kinds-length: 10;
    $address-length: 3;
    $ages-length: 5;
    $gender-length: 2;
    $personnel-length: 5;
    $atmosp-length: 10;
    $etc-length: 7;

    @function _calculate-max-content-height($length) {
      @return $sidebar-height * $length;
    }

    position: fixed;
    top: 0;
    width: $sidebar-width;
    height: 100vh;
    overflow-y: auto;
    z-index: $sidebar-level;
    background-color: $white;
    transform: translate3d(100vw, 0, 0);
    transition: transform 300ms ease-in-out;
    overscroll-behavior: contain;

    .drawer-menu {
      &-content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 200ms ease-in-out;
      }

      &-item {
        height: $sidebar-height;
      }

      &.is-open {
        &.is-kinds {
          .drawer-menu-content {
            max-height: _calculate-max-content-height($kinds-length);
          }
        }

        &.is-address {
          .drawer-menu-content {
            max-height: _calculate-max-content-height($address-length);
          }
        }

        &.is-ages {
          .drawer-menu-content {
            max-height: _calculate-max-content-height($ages-length);
          }
        }

        &.is-gender {
          .drawer-menu-content {
            max-height: _calculate-max-content-height($gender-length);
          }
        }

        &.is-personnel {
          .drawer-menu-content {
            max-height: _calculate-max-content-height($personnel-length);
          }
        }

        &.is-atmosp {
          .drawer-menu-content {
            max-height: _calculate-max-content-height($atmosp-length);
          }
        }

        &.is-etc {
          .drawer-menu-content {
            max-height: _calculate-max-content-height($etc-length);
          }
        }
      }
    }

    &.is-active {
      transform: translate3d(calc(100vw - #{$sidebar-width}), 0, 0);
    }

    .filter-header {
      @include flexbox(between);
      width: 100%;
      height: $sidebar-height;

      padding: 0 12px;
      background-color: $yellow;

      h1 {
        @include text-style(16px, $white);
        font-weight: 400;
      }

      .button-group {
        i {
          @include inline-flexbox;
          font-size: 24px;
          color: $white;
        }

        .ic-reset::after {
          content: '';
          width: 1px;
          height: 16px;
          margin-left: 5px;
          margin-right: 2px;

          background-color: $yellow-dark;
        }
      }
    }

    &::-webkit-scrollbar {
      display: none;
    }

    .filter-checkbox {
      .drawer-menu-item {
        padding: 0 16px;
      }
    }
  }

  $drawer-menu-content-padding: 10px;
  $drawer-menu-item-height: 30px;
  $drawer-menu-item-margin: 10px;
  $kinds-length: 2;
  $address-length: 1;
  $ages-length: 2;
  $gender-length: 2;
  $personnel-length: 2;
  $atmosp-length: 2;
  $etc-length: 2;

  @function _calculate-max-content-height($length) {
    @return $drawer-menu-item-height * $length + $drawer-menu-content-padding *
      2 + $drawer-menu-item-margin * 4;
  }

  margin-bottom: 40px;

  .drawer-menu {
    &-content {
      max-height: 0;
      overflow: hidden;
      transition: max-height 200ms ease-in-out;
    }

    &-list {
      padding: $drawer-menu-content-padding 40px;
    }

    &-item {
      height: $drawer-menu-item-height;
      margin: #{$drawer-menu-item-margin} 0;
    }

    &.is-open {
      &.is-kinds {
        .drawer-menu-content {
          max-height: _calculate-max-content-height($kinds-length);
        }
      }

      &.is-address {
        .drawer-menu-content {
          max-height: _calculate-max-content-height($address-length);
        }
      }

      &.is-ages {
        .drawer-menu-content {
          max-height: _calculate-max-content-height($ages-length);
        }
      }

      &.is-gender {
        .drawer-menu-content {
          max-height: _calculate-max-content-height($gender-length);
        }
      }

      &.is-personnel {
        .drawer-menu-content {
          max-height: _calculate-max-content-height($personnel-length);
        }
      }

      &.is-atmosp {
        .drawer-menu-content {
          max-height: _calculate-max-content-height($atmosp-length);
        }
      }

      &.is-etc {
        .drawer-menu-content {
          max-height: _calculate-max-content-height($etc-length);
        }
      }
    }
  }
}
