.find {
  width: 100%;
  height: auto;

  &-header {
    margin: 16px 0 20px;
  }

  &-title {
    display: block;
    @include text-style(16, $dark);
    font-weight: 700;
  }

  &-summery {
    @include flexbox(start);

    .kinds {
      margin-right: 4px;
      @include text-style(13, $teritory);
    }
  }

  .score-summery {
    @include flexbox(start);

    .star-rating {
      margin-right: 4px;
      font-size: 14px;
    }

    .badge {
      @include text-style(13, $yellow);
      font-weight: 700;
    }
  }

  &-button-group {
    @include flexbox;
    margin-top: 16px;
    margin-bottom: 24px;

    button {
      width: 90px;
      height: 90px;
      border-radius: 50%;
      @include text-style(12, $white);
    }
    .filter-button {
      margin-right: 20px;
      background-color: $yellow;
    }

    .search-button {
      background-color: $teritory;
    }

    i {
      display: block;
      font-size: 32px;
    }
  }

  @include responsive(T) {
    &-header {
      @include flexbox(between, start);
      margin: 32px 0 40px;
    }

    &-title {
      @include text-style(24);
    }

    .search-store {
      width: 312px;
    }
  }
}
