.find {
  width: 100%;
  height: auto;

  &-header {
    margin: 16px 0 20px;
  }

  &-title {
    display: block;
    @include text-style(16, $dark);
    font-weight: 700;
  }

  &-summery {
    @include flexbox(start);

    .kinds {
      margin-right: 4px;
      @include text-style(13, $teritory);
    }
  }

  .score-summery {
    @include flexbox(start);

    .star-rating {
      margin-right: 4px;
      font-size: 14px;
    }

    .badge {
      @include text-style(13, $yellow);
      font-weight: 700;
    }
  }

  @include responsive(T) {
    &-header {
      @include flexbox(between, start);
      margin: 32px 0 40px;
    }

    &-title {
      @include text-style(24);
    }

    .search-store {
      width: 312px;
    }
  }
}
