.menu-modal {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  padding-top: 24px;
  background-color: $white;
  z-index: $menu-modal-level;
  overflow: auto;
  transition: left 300ms ease-in-out;

  &.is-open {
    left: 0;
  }

  .menu,
  .menu-size,
  .menu-dough {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid $border;
  }

  .menu {
    &-image {
      margin-bottom: 10px;
      width: 100%;
      aspect-ratio: 4/3;
      overflow: hidden;
      border-radius: 4px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .detail {
      @include text-style(14, $primary);
      font-weight: 500;
    }
  }

  .title {
    margin-bottom: 8px;
    @include text-style(14, $dark);
    font-weight: 700;
  }

  .menu-size {
    .button-group {
      @include flexbox;

      button:first-child {
        margin-right: 8px;
      }
    }
  }

  .menu-dough {
    &-item {
      @include flexbox(start);
      margin-bottom: 8px;

      input {
        margin-right: 8px;
        cursor: pointer;
      }

      label {
        width: 100%;
        @include flexbox(between);
        @include text-style(13, $secondary);
        cursor: pointer;

        strong {
          font-weight: 400;
        }
      }

      input:checked + label {
        color: $yellow;
        font-weight: 500;
      }
    }
  }

  .menu-amount {
    margin-bottom: 40px;

    &-select {
      height: 36px;
      @include flexbox(between);
      padding: 0 24px;
      margin: 0 32px;
      border: 1px solid $border;
      border-radius: 18px;

      button {
        width: 40px;
        height: 100%;
        i {
          @include text-style(14, $teritory);
        }

        &:hover,
        &:active {
          i {
            color: $secondary;
          }
        }
      }
    }

    .minus-button {
      transform: rotate(180deg);
    }

    .amount {
      @include text-style(16, $primary);
      font-weight: 500;
    }
  }

  .menu-get-button {
    margin-bottom: 20px;
    width: 100%;
  }

  @include responsive(T) {
    visibility: hidden;
    top: 50%;
    left: 50%;
    width: 530px;
    height: 640px;
    transform: translate(-50%, 0);
    border-radius: 8px;
    opacity: 0;
    transition: transform 200ms ease-in-out, opacity 200ms ease-in-out,
      visibility 200ms ease-in-out;

    &.is-open {
      visibility: visible;
      left: 50%;
      opacity: 1;
      transform: translate(-50%, -50%);
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
