.review-card {
  &-header {
    @include flexbox(start);
    margin-bottom: 20px;

    .avatar-24 {
      margin-right: 8px;
    }

    .info {
      .username {
        @include text-style(13, $primary);

        strong {
          font-weight: 400;
        }
      }

      .star-rating {
        margin-right: 4px;
        font-size: 13px;
      }
    }

    .detail {
      @include flexbox(start);

      time {
        @include text-style(12, $secondary);
      }
    }
  }

  &-image-group {
    @include flexbox(start);
    margin-top: 12px;

    .review-image {
      width: 64px;
      height: 64px;
      margin-right: 4px;
      overflow: hidden;
      border-radius: 4px;

      &:nth-child(3) {
        position: relative;

        &::after {
          @include pos-center;
          content: '더보기';
          @include text-style(12, $white);
          white-space: nowrap;
        }

        img {
          filter: brightness(70%);
        }
      }

      &:last-child {
        margin-right: 0;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &-body {
    margin-bottom: 20px;

    p {
      @include text-style(13, $primary);
    }
  }

  &-footer {
    button {
      margin-right: 8px;

      i {
        margin-right: 4px;
      }
    }

    span {
      @include text-style(16, $red);
      font-weight: 700;
    }
  }

  @include responsive(T) {
    &-header {
      margin-bottom: 10px;
    }

    &-image-group {
      margin-bottom: 0;

      .review-image {
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
        margin-right: 8px;

        img {
          transition: transform 200ms ease-in-out;
        }

        &:nth-child(3) {
          &::after {
            @include text-style(14, $white);
            font-weight: 700;
          }
        }

        &:hover {
          img {
            transform: scale(1.1);
          }
        }
      }
    }

    &-body,
    &-footer {
      margin-left: 24px;
    }
  }

  @include responsive(D) {
    &-image-group {
      .review-image {
        width: 120px;
        height: 120px;

        &:last-child {
          &::after {
            @include text-style(16);
          }
        }
      }
    }
  }
}
