.review-scoreboard {
  @include flexbox;
  width: 100%;
  height: 152px;
  margin-bottom: 20px;
  background-color: $background;
  border-radius: 4px;

  .score-summery,
  .score-detail {
    width: 50%;
  }

  .score-summery {
    @include flexbox;
    flex-direction: column;
    order: 1;

    .average-score {
      display: block;
      margin-bottom: 4px;
      @include text-style(24, $dark);
    }

    .star-rating {
      font-size: 20px;
    }
  }

  .score-detail {
    text-align: center;
    order: 3;
  }

  &::before {
    display: block;
    order: 2;
    width: 1px;
    height: 96px;
    background-color: $border;
    content: '';
  }

  @include responsive(T) {
    height: 142px;

    .score-summery,
    .score-detail {
      width: auto;
    }

    .score-summery {
      flex-direction: row;

      .average-score {
        margin-bottom: 0;
        margin-right: 16px;
      }

      .star-rating {
        font-size: 24px;
      }
    }

    &::before {
      height: 72px;
      margin: 0 69px;
    }
  }
}
