.scroll-button {
  @include inline-flexbox;
  position: absolute;
  bottom: 80px;
  right: -10px;
  color: $white;
  animation: scroll 1s infinite alternate;
  .txt {
    font-family: $font-eng;
    font-size: 12px;
  }

  .arr {
    position: relative;
    width: 50px;
    margin-left: 10px;
    border-top: 1px solid $white;

    &::after {
      position: absolute;
      bottom: 1;
      right: 0;
      display: block;
      content: '';
      width: 6px;
      height: 1px;
      border-bottom: 1px solid $white;
      transform: rotate(-45deg);
    }

    &.top::after {
      left: 0;
      transform: rotate(45deg);
    }
  }
}

@keyframes scroll {
  0% {
    transform: translateY(10px) rotate(90deg);
  }

  100% {
    transform: translateY(0px) rotate(90deg);
  }
}
