.store {
  margin-bottom: 30px;

  &-image {
    position: relative;
    width: 100%;
    aspect-ratio: 4/3;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 4px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    i {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 36px;
      color: $white;

      &.is-active {
        color: $yellow;
      }
    }
  }

  &-info {
    @include text-style(13, $primary);

    &-item {
      @include flexbox(start, start);
      margin-bottom: 4px;

      &:last-child {
        margin-bottom: 0;
      }

      dt {
        width: 60px;
        font-weight: 700;
        margin-right: 4px;
      }

      dd {
        a {
          color: $blue;
        }
      }
    }
  }

  @include responsive(T) {
    position: relative;
    margin-bottom: 40px;

    &-image {
      margin-bottom: 0;

      i {
        transition: color 200ms ease-in-out;
      }

      i:hover {
        color: $yellow;
      }
    }

    &-info {
      @include pos-center-y;
      font-size: 14px;

      &-item {
        dt {
          margin-right: 12px;
        }
      }
    }
  }

  @include responsive(D) {
    &-info {
      font-size: 16px;

      &-list {
        margin-bottom: 8px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      &-item {
        dt {
          margin-right: 20px;
        }
      }
    }
  }
}
