.store-review {
  &-group {
    display: none;
    visibility: hidden;

    &.is-active {
      display: block;
      visibility: visible;
    }
  }

  .review-item {
    padding: 20px 0;
    border-bottom: 1px solid $border;

    &:last-child {
      border-bottom: 0;
    }
  }

  .review-card {
    @include flexbox(center, start);
    flex-direction: column;
  }

  @include responsive(T) {
    margin-bottom: 180px;

    .review-card {
      @include flexbox(between, start);
      flex-direction: row;

      &-wrapper {
        width: 60%;
        margin-right: 10px;
      }

      &-image-group {
        width: 40%;
      }

      &-body {
      }

      &-footer {
      }
    }
  }
}
