$store-menu-content-padding: 15px;
$store-menu-item-height: 72px;
$store-menu-item-margin: 15px;
$pizza-length: 5;
$side-length: 4;
$drink-length: 6;

@function _menu-max-content-height($length) {
  @return $store-menu-item-height * $length + $store-menu-content-padding * 2 +
    $store-menu-item-margin * ($length - 1);
}

.store-menu {
  &-group {
    display: none;
    visibility: hidden;
    margin-bottom: 60px;

    &.is-active {
      display: block;
      visibility: visible;
    }
  }

  &.is-open {
    &.is-pizza {
      .store-menu-content {
        max-height: _menu-max-content-height($pizza-length);
      }
    }

    &.is-side {
      .store-menu-content {
        max-height: _menu-max-content-height($side-length);
      }
    }

    &.is-drink {
      .store-menu-content {
        max-height: _menu-max-content-height($drink-length);
      }
    }
  }

  &-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 200ms ease-in-out;
  }

  &-list {
    padding: $store-menu-content-padding;
  }

  &-item {
    margin-bottom: $store-menu-item-margin;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include responsive(T) {
    &-group {
      margin-bottom: 180px;
    }
  }
}
