.store-tab {
  margin-bottom: 20px;

  &-list {
    @include flexbox(between);
  }

  &-item {
    position: relative;
    width: 100%;
    height: 32px;
    margin-right: 10px;
    border-bottom: 1px solid $teritory;

    &:last-child {
      margin-right: 0;
    }

    &.is-active {
      border-color: $yellow;

      a {
        color: $yellow;
      }
    }

    a {
      @include pos-center;
      font-family: $font-eng;
      font-size: 13px;
      line-height: 20px;
      letter-spacing: -0.01em;
      color: $teritory;
    }
  }

  @include responsive(T) {
    margin-bottom: 40px;

    &-item {
      height: 36px;
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }

      a {
        font-size: 14px;
        line-height: 24px;
      }
    }
  }

  @include responsive(D) {
    &-item {
      height: 40px;

      &:hover {
        a {
          color: $yellow;
        }
      }
    }

    button {
      font-size: 16px;
      transition: color 200ms ease-in-out;
    }
  }
}
