$ic-chevron-size: 22px;
$ic-chevron-size-tablet: 34px;

.view-button {
  position: relative;
  @include inline-flexbox;
  font-family: $font-eng;
  color: $white;
  border: 1px solid $white;
  @include pos-center-x;
  bottom: 10%;
  flex-shrink: 0;

  a {
    padding: 16px 28px;
    @include flexbox;

    span {
      display: inline-block;
      margin-right: $ic-chevron-size;
      font-size: 18px;
      letter-spacing: -0.01em;
      flex-grow: 1;
      white-space: nowrap;
    }

    .ic-chevron {
      position: absolute;
      top: 50%;
      right: 16px;
      color: $white;
      font-size: $ic-chevron-size;
      transform: translateY(-50%);
    }

    &:hover {
      .ic-chevron {
        animation: move-chevron 700ms ease-in-out infinite alternate;
      }
    }
  }

  @include responsive(T) {
    a {
      padding: 20px 36px;

      span {
        margin-right: $ic-chevron-size-tablet;
        font-size: 24px;
        letter-spacing: -0.01em;
      }

      .ic-chevron {
        font-size: 34px;
      }
    }

    .ic-chevron {
      right: 32px;
    }
  }
}

@keyframes move-chevron {
  0% {
    right: 18px;

    @include responsive(T) {
      right: 32px;
    }
  }
  100% {
    right: 8px;
  }
}
