%btn-base {
  @include inline-flexbox;
  font-weight: 700;
  color: $white;
  border-radius: 4px;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.4;
  }
}

%btn-radius-base {
  @include inline-flexbox;
  padding: 8px 32px;
  font-weight: 700;
  color: $secondary;
  background-color: $white;
  border: 1px solid $border;
  border-radius: 20px;
}

.btn-primary {
  @extend %btn-base;
  background-color: $yellow;
  transition: background-color 200ms ease-in-out;

  &:not(:disabled):hover {
    background-color: $yellow-dark;
  }
}

.btn-secondary {
  @extend %btn-base;
  background-color: $teritory;
  transition: background-color 200ms ease-in-out;

  &:not(:disabled):hover {
    background-color: $secondary;
  }
}

.btn-outlined {
  @extend %btn-base;
  color: $yellow;
  background-color: $white;
  border: 1px solid $yellow;
  transition: background-color 200ms ease-in-out;

  &:not(:disabled):hover {
    background-color: $yellow-light;
  }
}

.btn-red {
  @extend %btn-base;
  background-color: $red;
  transition: background-color 200ms ease-in-out;

  &:not(:disabled):hover {
    background-color: $red-dark;
  }
}

.btn-red-outlined {
  @extend %btn-base;
  color: $red;
  background-color: $white;
  border: 1px solid $red;
  transition: background-color 200ms ease-in-out;

  &:not(:disabled):hover {
    background-color: $red-light;
  }
}

.btn-32 {
  padding: 8px 16px;
  @include text-style(16);
}

.btn-55 {
  padding: 12px 24px;
  @include text-style(18);
}

.btn-radius {
  @extend %btn-radius-base;
  transition: background-color 200ms ease-in-out, color 200ms ease-in-out,
    border-color 200ms ease-in-out;

  &.is-active {
    color: $white;
    background-color: $yellow;
    border-color: $yellow;
  }
}
