%btn-base {
  @include inline-flexbox;
  font-weight: 700;
  color: $white;
  border-radius: 4px;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.4;
  }
}

%btn-radius-base {
  @include inline-flexbox;
  height: 40px;
  padding: 0 32px;
  @include text-style(14);
  font-weight: 700;
  color: $secondary;
  background-color: $white;
  border: 1px solid $border;
  border-radius: 20px;
}

%btn-underlined-base {
  @include inline-flexbox;
  height: 78px;
  padding: 0 26px;
  font-family: $font-eng;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.02em;
  color: $primary;
  border-bottom: 1px solid transparent;
}

.btn-primary {
  @extend %btn-base;
  background-color: $yellow;
  transition: background-color 200ms ease-in-out;

  &:not(:disabled):hover {
    background-color: $yellow-dark;
  }
}

.btn-secondary {
  @extend %btn-base;
  background-color: $secondary;
  transition: background-color 200ms ease-in-out;

  &:not(:disabled):hover {
    background-color: $primary;
  }
}

.btn-outlined {
  @extend %btn-base;
  color: $yellow;
  background-color: $white;
  border: 1px solid $yellow;
  transition: background-color 200ms ease-in-out;

  &:not(:disabled):hover {
    background-color: $yellow-light;
  }
}

.btn-red {
  @extend %btn-base;
  background-color: $red;
  transition: background-color 200ms ease-in-out;

  &:not(:disabled):hover {
    background-color: $red-dark;
  }
}

.btn-red-outlined {
  @extend %btn-base;
  color: $red;
  background-color: $white;
  border: 1px solid $red;
  transition: background-color 200ms ease-in-out;

  &:not(:disabled):hover {
    background-color: $red-light;
  }
}

.btn-32 {
  height: 32px;
  padding: 0 10px;
  @include text-style(14);
}

.btn-55 {
  height: 55px;
  @include text-style(18);
}

.btn-radius {
  @extend %btn-radius-base;
  transition: background-color 200ms ease-in-out, color 200ms ease-in-out,
    border-color 200ms ease-in-out;

  &.is-active {
    color: $white;
    background-color: $yellow;
    border-color: $yellow;
  }
}

.btn-underlined {
  @extend %btn-underlined-base;

  &:hover {
    color: $yellow;
  }

  &.is-active {
    color: $yellow;
    border-color: $yellow;
  }
}

.btn-transparent {
  @include inline-flexbox;
  height: 74px;
  padding: 0 36px;
  font-family: $font-eng;
  font-size: 24px;
  line-height: 34px;
  letter-spacing: -0.01em;
  color: $white;
  border: 1px solid $white;

  .ic-chevron {
    margin-left: 14px;
    font-size: 34px;
    color: $white;
  }
}
