@font-face {
  font-family: 'food-list';
  src: url('./assets/fonts/food-list.eot');
  src: url('./assets/fonts/food-list.eot#iefix') format('embedded-opentype'),
    url('./assets/fonts/food-list.ttf') format('truetype'),
    url('./assets/fonts/food-list.woff') format('woff'),
    url('./assets/fonts/food-list.svg#food-list') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
