.gnb {
  position: fixed;
  top: 0;
  width: 100%;
  height: $gnb-height-sm;
  background-color: rgba($white, 0.9);
  box-shadow: 0px 4px 10px rgba(63, 65, 80, 0.2);
  z-index: $gnb-level;

  &-wrapper {
    @include flexbox(between);
    width: 100%;
  }

  .logo {
    @include pos-center;

    .ic-logo {
      @include flexbox;
      font-size: 16px;
      text-align: center;
    }

    &.is-active {
      .ic-logo {
        color: $yellow;
      }
    }
  }

  &-menu-button {
    @include pos-center-y;
    width: 24px;
    height: 24px;

    .ic-menu {
      font-size: 24px;
      color: $primary;
    }

    &:active,
    &:hover {
      .ic-menu {
        color: $yellow;
      }
    }
  }

  @include responsive(T) {
    height: $gnb-height-md;

    &-right {
      @include flexbox(end);
    }

    .my-menu {
      @include pos-center-y;

      &-button {
        @include flexbox;
      }
    }
  }

  @include responsive(D) {
    .logo {
      .ic-logo {
        font-size: 20px;
        color: $primary;
      }

      &:hover {
        .ic-logo {
          color: $yellow;
          transition: color 200ms ease-in-out;
        }
      }
    }
  }
}
