body {
  background-color: #000;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $sidebar-level;
  width: 240px;
  height: 100vh;
  padding: 32px 20px;
  overflow-y: auto;
  background-color: $white;
  overscroll-behavior: contain;

  &-header {
    padding-bottom: 24px;
    border-bottom: 1px solid $border;

    .logo {
      margin-bottom: 24px;

      a {
        display: block;
      }

      .ic-logo {
        @include flexbox(start);
        font-size: 16px;
        color: $yellow;
      }
    }
  }

  &-user,
  &-auth {
    @include flexbox(start);
    padding: 0 12px;
  }

  &-user {
    a {
      @include flexbox(start);
      width: 100%;

      .avatar-24 {
        flex-grow: 0;
        flex-shrink: 0;
        margin-right: 8px;
      }

      .user-name {
        flex-grow: 1;
        @include text-style(14, $primary);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  &-auth {
    @include flexbox(between);

    a {
      width: 84px;
    }
  }

  &-user-menu {
    padding-top: 24px;

    .user-menu-item {
      padding: 6px 12px;

      a {
        @include flexbox(start);
        width: 100%;
        @include text-style(14, $primary);
      }

      .ic-new {
        font-size: 16px;
      }

      &.is-active {
        a {
          color: $yellow;
        }
      }
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }
}
